[submodule "contiki"]
	path = contiki
	url = https://github.com/vandaele/contiki.git
	branch = ewsn-tsch
[submodule "openlab"]
	path = openlab
	url = git@github.com:iot-lab/openlab.git
[submodule "demo-fit-light-map"]
	path = demo-fit-light-map
	url = git@gitlab.irisa.fr:fun/demo-fit-light-map.git
	branch = matthieu-light-map
[submodule "light-automation"]
	path = light-automation
	url = https://github.com/vandaele/light-automation.git
